.ChatBoard {
  height: 285px;
  overflow-y: scroll;
  padding-top: 5px; }
  .ChatBoard .ListItem {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 60px !important; }
    .ChatBoard .ListItem img {
      width: 32px;
      height: 32px;
      top: 0 !important; }
    .ChatBoard .ListItem .Item {
      font-size: 13px;
      text-align: left;
      display: table-cell !important;
      vertical-align: middle; }
      .ChatBoard .ListItem .Item .name {
        color: #9E9E9E;
        margin-right: 8px;
        font-size: 13px; }
      .ChatBoard .ListItem .Item .isOwner-true {
        color: #03A9F4; }
      .ChatBoard .ListItem .Item .content {
        color: #424242;
        font-size: 13px; }

.ChatAction .ListItem {
  padding: 0 !important; }
  .ChatAction .ListItem img {
    top: 20px !important; }
  .ChatAction .ListItem label {
    font-size: 16px; }
  .ChatAction .ListItem .TextField {
    margin-left: 60px !important;
    width: 310px !important;
    font-size: 13px !important; }
    .ChatAction .ListItem .TextField input {
      margin-top: 0 !important;
      padding-top: 20px !important; }

.ChatAction .IconSendMessage {
  float: right;
  margin-right: 30px;
  font-size: 20px !important; }

.ChatAction .IconSendMessage-active:hover {
  cursor: pointer; }

.ChatAction .IconSendMessage-active {
  color: #03A9F4; }

.ChatAction .IconSendMessage-deactive:hover {
  cursor: not-allowed; }

.ChatAction .ActionPlus {
  float: right;
  margin-right: 8px;
  font-size: 13px;
  padding-top: 3px; }
  .ChatAction .ActionPlus .warning {
    color: red; }
