.ChatBoard {
  height: 285px;
  overflow-y: scroll;
  padding-top: 5px;
  .ListItem {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 60px !important;
    img {
      width: 32px;
      height: 32px;
      top: 0 !important;
    }
    .Item {
      font-size: 13px;
      text-align: left;
      display: table-cell !important;
      vertical-align: middle;
      .name {
        color: #9E9E9E;
        margin-right: 8px;
        font-size: 13px;
      }
      .isOwner-true {
        color: #03A9F4
      }
      .content {
        color: #424242;
        font-size: 13px;
      }
    }
  }
}

.ChatAction {
  .ListItem {
    padding: 0 !important;
    img {
      top: 20px !important;
    }
    label {
      font-size: 16px;
    }
    .TextField {
      margin-left: 60px !important;
      width: 310px !important;
      font-size: 13px !important;
      input {
        margin-top: 0 !important;
        padding-top: 20px !important
      }
    }
  }
  .IconSendMessage {
    float: right;
    margin-right: 30px;
    font-size: 20px !important
  }
  .IconSendMessage-active:hover {
    cursor: pointer;
  }
  .IconSendMessage-active {
    color: #03A9F4;
  }
  .IconSendMessage-deactive:hover {
    cursor: not-allowed;
  }
  .ActionPlus {
    float: right;
    margin-right: 8px;
    font-size: 13px;
    padding-top: 3px;
    .warning {
      color: red
    }
  }
}
