// App
.App {
  // margin-left: 270px;
  height: auto;
  // overflow: hidden;
  margin: 0 auto;
}


// AppWidget
.AppWidget {
  width: 400px;
  height: auto;
  float: left;
  margin: 50px 0 0 8px;
  .AppWidget-Paper {
    height: 400px;
    table {
      th {
        text-align: center !important;
        color: #000000 !important
      }
    }
  }
}

// AppHome
.AppHome {
  margin-left: 270px;
  padding: 2px;
  overflow: hidden;
  .Main {
    overflow: hidden;
    float: left;
    width: 610px;
  }
}
// AppShow
.AppShow {
  text-align: center;
  .AppShow-Content {
    height: 100%;
    overflow: hidden;
    background: -webkit-linear-gradient(left, #42275a , #734b6d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #42275a, #734b6d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #42275a#42275a, #734b6d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #42275a , #734b6d); /* Standard syntax (must be last) */
    .button-close {
      position: absolute !important;
      top: 5px !important;
      right: 5px !important
    }
  }
  .countdown-container {
    display: flex;
    justify-content: center;
  }
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .logo {
    margin-top: 60px;
  }

  .title {
    margin: 25px auto;
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
  }

  .ball-scale-ripple {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
  }

  .ball-scale-ripple {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid #fff;
    -webkit-animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21, .53, .56, .8);
    animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21, .53, .56, .8);
  }

  .preloader {
    position: sticky;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: #19191b;
    display: inline-block;
  }

  @-webkit-keyframes ball-scale-ripple {
    0% {
      -webkit-transform:scale(0.1);
      transform:scale(0.1);
      opacity:1
    }
    70% {
      -webkit-transform:scale(1);
      transform:scale(1);
      opacity:.7
    }
    100% {
      opacity:0
    }
  }
  @keyframes ball-scale-ripple {
    0% {
      -webkit-transform:scale(0.1);
      transform:scale(0.1);
      opacity:1
    }
    70% {
      -webkit-transform:scale(1);
      transform:scale(1);
      opacity:.7
    }
    100% {
      opacity:0
    }
  }
}
