.ListEventsNav {
  div[role="presentation"] {
    width: auto !important;
    a {
      transition: none !important
    }
  }
}

.EventDetailNav {
  margin-right: 10px;
  a {
    font-size: 14px !important;
    min-height: 35px !important;
    line-height: 35px !important;
    .material-icons {
      margin: 6px !important;
      right: 14px !important
    }
  }
  a.active {
    background: #757575 !important;
    color: #ffffff !important;
  }
}

#list-events-follow-nav {
  div[role="presentation"] {
    width: 280px !important;
    div[role="menu"] {
      width: 280px !important;
    }
  }
}

div[role="presentation"] {
  width: auto !important;
  div[role="menu"] {
    width: auto !important;
  }
}

// EventDetail
.Event-Detail {
  width: 600px;
  height: auto;
  float: left;
  margin: 50px 0 25px 0;
  padding-left: 5px;
  .Event-Detail-Paper {
    overflow: hidden;
    .Event-Cover {
      margin-bottom: 10px;
      position: relative;
      img {
        max-height: 200px;
      }
      .zoom_out {
        position: absolute !important;
        right: 0;
        background-color: #757575 !important;
        width: 35px !important;
        height: 35px !important;
        padding: 0 0 0 2px !important;
      }
      .zoom_out:hover {
        i {
          color: #ffffff !important
        }
      }
      .IconMenu {
        position: absolute !important;
        bottom: 10px;
        right: 6px;
        button {
          padding: 0 !important;
          background-color: #ffffff !important;
          width: 37px !important;
          height: 26px !important;
        }
      }
    }
    .Event-Header {
      height: auto;
      overflow: hidden;
      .Event-Header-Time {
        width: 100px;
        float: left;
        text-align: center;
        padding-top: 2px;
        .month {}
        .day {
          margin-top: 10px;
          font-size: 20px;
          color: red;
          line-height: 2;
        }
      }
      .Event-Header-Title {
        float: left;
        margin-right: 10px;
        max-width: 290px;
        .title {
          font-size: 20px;
        }
        .small-title {
          color: #90949c;
          font-size: 14px;
          display: block;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      .Event-Header-Interested, .Event-Header-Going {
        width: 100px;
        float: right;
        text-align: center;
        padding-top: 2px;
        .total {
          margin-top: 10px;
          font-size: 20px;
          color: red;
          line-height: 2;
        }
      }
    }
    .Event-Action {
      margin-bottom: 1px;
      overflow: hidden;
      #Going-Button {
        margin-left: 2px !important;
        div {
          width: 97px;
        }
      }
      #Interested-Button {
        div {
          width: 113px;
          span {
            padding-right: 5px !important
          }
        }
      }
      div:nth-child(1) {
        float: right;
      }
      div:nth-child(2) {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        float: right;
        i {
          margin-left: 8px !important;
          font-size: 16px !important;
        }
        span {
         padding-left: 6px !important;
        }
      }
      button span {
        text-transform: none !important;
        font-weight: bold !important;
      }
      .Loading {
        height: 30px;
        width: 96px;
        text-align: center;
        padding-top: 6px;
        float: right;
        div {
          float: none !important
        }
      }
      .rate {
        float: left !important;
        padding-left: 16px;
        font-size: 14px;
        display: inline-flex;
        span {
          display: block;
          padding-top: 10px;
          padding-right: 10px;
        }
        .rating_icon {
          padding-top: 8px;
        }
      }
      .Event-Going-, .Event-Interested-, .Event-Going-false, .Event-Interested-false {
        box-shadow: none !important;
        border: none !important;
        height: 36px;
        float: right;
        button {
          background-color: #f8f8f8 !important;
          div {
            color: #666 !important;
            span {
              color: #666 !important
            }
          }
        }
      }
      .Event-Going-true, .Event-Interested-true {
        box-shadow: none !important;
        border: none !important;
        height: 36px;
        float: right;
        button {
          background-color: red !important;
          div {
            color: #ffffff !important;
            span {
              color: #ffffff !important
            }
          }
        }
      }
    }
    .Event-Photos {
      div {
        color: #000000 !important;
      }
      .Add-Photo {
        float: right;
      }
      .Event-Photos-List {
        width: 100% !important;
        height: auto !important;
        padding: 2px 16px 16px 16px;
        div:nth-child(1) {
          max-height: 330px !important
        }
        div:nth-child(3) {
          .Event-Photos-Title {
            img {
              position: absolute !important;
            }
            .overlay {
              width: 300px;
              height: 200px;
              display: block;
              position: absolute;
              background: #000000;
              opacity: 0.8;
              span {
                font-size: 24px;
                color: #ffffff;
                position: absolute;
                top: 88px;
                left: 130px;
              }
            }
          }
        }
      }
    }
    .Event-Infomation {
      overflow: hidden;
      .Info {
        padding-left: 4px;
        font-size: 14px;
        float: left;
        width: 365px;
        padding-top: 5px;
        padding-bottom: 5px;
        table {
          border-spacing: 10px;
          width: 100%;
          td:nth-child(1) {
            padding-right: 13px
          }
          td.HashtagTd {
            display: inline-block !important;
            max-width: 250px;
            .Chip {
              margin: 0px 5px 3px 0 !important;
              display: inline-block !important;
              span {
                font-size: 12px !important
              }
            }
          }
          .date {
            padding-right: 10px
          }
        }
      }
      .Map {
        float: left;
        width: 38%;
        height: 100px;
      }
    }
    .Event-Description {
      div {
        color: #000000 !important
      }
      div:nth-child(2) {
        text-align: left;
        width: 100%;
        height: auto;
        padding: 16px;
        font-size: 14px;
      }
    }
  }
}


// Event-Summary
.Event-Summary {
  margin-top: 20px;
  .Event-Cover {
    margin: 5px;
  }
}
.Event-Summary:first-child {
  margin-top: 50px
}
