.ListEventsNav div[role="presentation"] {
  width: auto !important; }
  .ListEventsNav div[role="presentation"] a {
    transition: none !important; }

.EventDetailNav {
  margin-right: 10px; }
  .EventDetailNav a {
    font-size: 14px !important;
    min-height: 35px !important;
    line-height: 35px !important; }
    .EventDetailNav a .material-icons {
      margin: 6px !important;
      right: 14px !important; }
  .EventDetailNav a.active {
    background: #757575 !important;
    color: #ffffff !important; }

#list-events-follow-nav div[role="presentation"] {
  width: 280px !important; }
  #list-events-follow-nav div[role="presentation"] div[role="menu"] {
    width: 280px !important; }

div[role="presentation"] {
  width: auto !important; }
  div[role="presentation"] div[role="menu"] {
    width: auto !important; }

.Event-Detail {
  width: 600px;
  height: auto;
  float: left;
  margin: 50px 0 25px 0;
  padding-left: 5px; }
  .Event-Detail .Event-Detail-Paper {
    overflow: hidden; }
    .Event-Detail .Event-Detail-Paper .Event-Cover {
      margin-bottom: 10px;
      position: relative; }
      .Event-Detail .Event-Detail-Paper .Event-Cover img {
        max-height: 200px; }
      .Event-Detail .Event-Detail-Paper .Event-Cover .zoom_out {
        position: absolute !important;
        right: 0;
        background-color: #757575 !important;
        width: 35px !important;
        height: 35px !important;
        padding: 0 0 0 2px !important; }
      .Event-Detail .Event-Detail-Paper .Event-Cover .zoom_out:hover i {
        color: #ffffff !important; }
      .Event-Detail .Event-Detail-Paper .Event-Cover .IconMenu {
        position: absolute !important;
        bottom: 10px;
        right: 6px; }
        .Event-Detail .Event-Detail-Paper .Event-Cover .IconMenu button {
          padding: 0 !important;
          background-color: #ffffff !important;
          width: 37px !important;
          height: 26px !important; }
    .Event-Detail .Event-Detail-Paper .Event-Header {
      height: auto;
      overflow: hidden; }
      .Event-Detail .Event-Detail-Paper .Event-Header .Event-Header-Time {
        width: 100px;
        float: left;
        text-align: center;
        padding-top: 2px; }
        .Event-Detail .Event-Detail-Paper .Event-Header .Event-Header-Time .day {
          margin-top: 10px;
          font-size: 20px;
          color: red;
          line-height: 2; }
      .Event-Detail .Event-Detail-Paper .Event-Header .Event-Header-Title {
        float: left;
        margin-right: 10px;
        max-width: 290px; }
        .Event-Detail .Event-Detail-Paper .Event-Header .Event-Header-Title .title {
          font-size: 20px; }
        .Event-Detail .Event-Detail-Paper .Event-Header .Event-Header-Title .small-title {
          color: #90949c;
          font-size: 14px;
          display: block;
          padding-top: 10px;
          padding-bottom: 10px; }
      .Event-Detail .Event-Detail-Paper .Event-Header .Event-Header-Interested, .Event-Detail .Event-Detail-Paper .Event-Header .Event-Header-Going {
        width: 100px;
        float: right;
        text-align: center;
        padding-top: 2px; }
        .Event-Detail .Event-Detail-Paper .Event-Header .Event-Header-Interested .total, .Event-Detail .Event-Detail-Paper .Event-Header .Event-Header-Going .total {
          margin-top: 10px;
          font-size: 20px;
          color: red;
          line-height: 2; }
    .Event-Detail .Event-Detail-Paper .Event-Action {
      margin-bottom: 1px;
      overflow: hidden; }
      .Event-Detail .Event-Detail-Paper .Event-Action #Going-Button {
        margin-left: 2px !important; }
        .Event-Detail .Event-Detail-Paper .Event-Action #Going-Button div {
          width: 97px; }
      .Event-Detail .Event-Detail-Paper .Event-Action #Interested-Button div {
        width: 113px; }
        .Event-Detail .Event-Detail-Paper .Event-Action #Interested-Button div span {
          padding-right: 5px !important; }
      .Event-Detail .Event-Detail-Paper .Event-Action div:nth-child(1) {
        float: right; }
      .Event-Detail .Event-Detail-Paper .Event-Action div:nth-child(2) {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        float: right; }
        .Event-Detail .Event-Detail-Paper .Event-Action div:nth-child(2) i {
          margin-left: 8px !important;
          font-size: 16px !important; }
        .Event-Detail .Event-Detail-Paper .Event-Action div:nth-child(2) span {
          padding-left: 6px !important; }
      .Event-Detail .Event-Detail-Paper .Event-Action button span {
        text-transform: none !important;
        font-weight: bold !important; }
      .Event-Detail .Event-Detail-Paper .Event-Action .Loading {
        height: 30px;
        width: 96px;
        text-align: center;
        padding-top: 6px;
        float: right; }
        .Event-Detail .Event-Detail-Paper .Event-Action .Loading div {
          float: none !important; }
      .Event-Detail .Event-Detail-Paper .Event-Action .rate {
        float: left !important;
        padding-left: 16px;
        font-size: 14px;
        display: inline-flex; }
        .Event-Detail .Event-Detail-Paper .Event-Action .rate span {
          display: block;
          padding-top: 10px;
          padding-right: 10px; }
        .Event-Detail .Event-Detail-Paper .Event-Action .rate .rating_icon {
          padding-top: 8px; }
      .Event-Detail .Event-Detail-Paper .Event-Action .Event-Going-, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Interested-, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Going-false, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Interested-false {
        box-shadow: none !important;
        border: none !important;
        height: 36px;
        float: right; }
        .Event-Detail .Event-Detail-Paper .Event-Action .Event-Going- button, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Interested- button, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Going-false button, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Interested-false button {
          background-color: #f8f8f8 !important; }
          .Event-Detail .Event-Detail-Paper .Event-Action .Event-Going- button div, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Interested- button div, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Going-false button div, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Interested-false button div {
            color: #666 !important; }
            .Event-Detail .Event-Detail-Paper .Event-Action .Event-Going- button div span, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Interested- button div span, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Going-false button div span, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Interested-false button div span {
              color: #666 !important; }
      .Event-Detail .Event-Detail-Paper .Event-Action .Event-Going-true, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Interested-true {
        box-shadow: none !important;
        border: none !important;
        height: 36px;
        float: right; }
        .Event-Detail .Event-Detail-Paper .Event-Action .Event-Going-true button, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Interested-true button {
          background-color: red !important; }
          .Event-Detail .Event-Detail-Paper .Event-Action .Event-Going-true button div, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Interested-true button div {
            color: #ffffff !important; }
            .Event-Detail .Event-Detail-Paper .Event-Action .Event-Going-true button div span, .Event-Detail .Event-Detail-Paper .Event-Action .Event-Interested-true button div span {
              color: #ffffff !important; }
    .Event-Detail .Event-Detail-Paper .Event-Photos div {
      color: #000000 !important; }
    .Event-Detail .Event-Detail-Paper .Event-Photos .Add-Photo {
      float: right; }
    .Event-Detail .Event-Detail-Paper .Event-Photos .Event-Photos-List {
      width: 100% !important;
      height: auto !important;
      padding: 2px 16px 16px 16px; }
      .Event-Detail .Event-Detail-Paper .Event-Photos .Event-Photos-List div:nth-child(1) {
        max-height: 330px !important; }
      .Event-Detail .Event-Detail-Paper .Event-Photos .Event-Photos-List div:nth-child(3) .Event-Photos-Title img {
        position: absolute !important; }
      .Event-Detail .Event-Detail-Paper .Event-Photos .Event-Photos-List div:nth-child(3) .Event-Photos-Title .overlay {
        width: 300px;
        height: 200px;
        display: block;
        position: absolute;
        background: #000000;
        opacity: 0.8; }
        .Event-Detail .Event-Detail-Paper .Event-Photos .Event-Photos-List div:nth-child(3) .Event-Photos-Title .overlay span {
          font-size: 24px;
          color: #ffffff;
          position: absolute;
          top: 88px;
          left: 130px; }
    .Event-Detail .Event-Detail-Paper .Event-Infomation {
      overflow: hidden; }
      .Event-Detail .Event-Detail-Paper .Event-Infomation .Info {
        padding-left: 4px;
        font-size: 14px;
        float: left;
        width: 365px;
        padding-top: 5px;
        padding-bottom: 5px; }
        .Event-Detail .Event-Detail-Paper .Event-Infomation .Info table {
          border-spacing: 10px;
          width: 100%; }
          .Event-Detail .Event-Detail-Paper .Event-Infomation .Info table td:nth-child(1) {
            padding-right: 13px; }
          .Event-Detail .Event-Detail-Paper .Event-Infomation .Info table td.HashtagTd {
            display: inline-block !important;
            max-width: 250px; }
            .Event-Detail .Event-Detail-Paper .Event-Infomation .Info table td.HashtagTd .Chip {
              margin: 0px 5px 3px 0 !important;
              display: inline-block !important; }
              .Event-Detail .Event-Detail-Paper .Event-Infomation .Info table td.HashtagTd .Chip span {
                font-size: 12px !important; }
          .Event-Detail .Event-Detail-Paper .Event-Infomation .Info table .date {
            padding-right: 10px; }
      .Event-Detail .Event-Detail-Paper .Event-Infomation .Map {
        float: left;
        width: 38%;
        height: 100px; }
    .Event-Detail .Event-Detail-Paper .Event-Description div {
      color: #000000 !important; }
    .Event-Detail .Event-Detail-Paper .Event-Description div:nth-child(2) {
      text-align: left;
      width: 100%;
      height: auto;
      padding: 16px;
      font-size: 14px; }

.Event-Summary {
  margin-top: 20px; }
  .Event-Summary .Event-Cover {
    margin: 5px; }

.Event-Summary:first-child {
  margin-top: 50px; }
