.UpdateProfileModal div:first-child {
  transition: none !important; }
  .UpdateProfileModal div:first-child div:first-child {
    background-color: #ffffff !important;
    text-align: center !important; }
    .UpdateProfileModal div:first-child div:first-child h1 {
      color: #000000 !important;
      font-weight: bold !important; }
    .UpdateProfileModal div:first-child div:first-child svg {
      color: #000000 !important;
      fill: #000000 !important; }

.UpdateProfileModal .form-container {
  width: 40%;
  height: 500px;
  position: relative;
  margin: 10px auto; }
  .UpdateProfileModal .form-container .form-container-left, .UpdateProfileModal .form-container .form-container-right {
    width: 50%;
    float: left; }
  .UpdateProfileModal .form-container .form-container-right .avatar {
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative; }
  .UpdateProfileModal .form-container .form-container-right .avatar img {
    display: block;
    cursor: pointer;
    margin: 0 auto; }
  .UpdateProfileModal .form-container .form-container-right .avatar:hover .overlay {
    opacity: 1;
    cursor: pointer; }
  .UpdateProfileModal .form-container .form-container-right .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
    background-color: #555459; }
  .UpdateProfileModal .form-container .form-container-right .text {
    background-color: #555459 !important;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
  .UpdateProfileModal .form-container .form-container-bottom {
    float: left;
    width: 100%;
    margin-top: 20px;
    text-align: center; }
    .UpdateProfileModal .form-container .form-container-bottom .cancel, .UpdateProfileModal .form-container .form-container-bottom .save {
      margin: 12px !important; }
      .UpdateProfileModal .form-container .form-container-bottom .cancel div span, .UpdateProfileModal .form-container .form-container-bottom .save div span {
        text-transform: none !important;
        font-weight: bolder !important; }
    .UpdateProfileModal .form-container .form-container-bottom .save div {
      background-color: #2ab27b !important; }
      .UpdateProfileModal .form-container .form-container-bottom .save div span {
        color: #ffffff !important; }
    .UpdateProfileModal .form-container .form-container-bottom .loader div div {
      transition: transform 10s linear 0ms !important; }

.CreateEventModal .AppBar {
  transition: none !important;
  background-color: #ffffff !important;
  text-align: center !important; }
  .CreateEventModal .AppBar h1 {
    color: #000000 !important;
    font-weight: bold !important; }
  .CreateEventModal .AppBar svg {
    color: #000000 !important;
    fill: #000000 !important; }

.CreateEventModal .CreateEventModal-Content {
  width: 80%;
  margin: 0 auto;
  overflow: hidden; }
  .CreateEventModal .CreateEventModal-Content .step1 {
    width: 52%;
    float: left; }
    .CreateEventModal .CreateEventModal-Content .step1 .row {
      margin-left: 30px;
      width: 100%;
      overflow: hidden; }
      .CreateEventModal .CreateEventModal-Content .step1 .row .name-field {
        float: left;
        margin-bottom: 10px; }
      .CreateEventModal .CreateEventModal-Content .step1 .row .location-field {
        float: left; }
      .CreateEventModal .CreateEventModal-Content .step1 .row div:first-child {
        margin-right: 20px; }
      .CreateEventModal .CreateEventModal-Content .step1 .row .date_start, .CreateEventModal .CreateEventModal-Content .step1 .row .date_end {
        float: left;
        width: 40%; }
      .CreateEventModal .CreateEventModal-Content .step1 .row .hashtag {
        float: left; }
      .CreateEventModal .CreateEventModal-Content .step1 .row .time_start, .CreateEventModal .CreateEventModal-Content .step1 .row .time_end {
        margin-top: 24px;
        margin-left: 29px; }
      .CreateEventModal .CreateEventModal-Content .step1 .row .hashtags {
        width: 40%;
        float: left !important; }
      .CreateEventModal .CreateEventModal-Content .step1 .row .description {
        margin-left: 30px; }
  .CreateEventModal .CreateEventModal-Content .step2 {
    width: 48%;
    height: 100px;
    float: left; }
    .CreateEventModal .CreateEventModal-Content .step2 .Event-Cover {
      position: relative; }
      .CreateEventModal .CreateEventModal-Content .step2 .Event-Cover img {
        padding-left: 16px;
        display: block;
        cursor: pointer; }
    .CreateEventModal .CreateEventModal-Content .step2 .Event-Cover:hover .overlay {
      opacity: 1;
      cursor: pointer; }
    .CreateEventModal .CreateEventModal-Content .step2 .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .1s ease;
      background-color: #555459;
      margin-left: 16px;
      width: 500px; }
    .CreateEventModal .CreateEventModal-Content .step2 .text {
      text-align: center;
      background-color: #555459 !important;
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); }

.CreateEventModal .CreateEventModal-Footer {
  text-align: center;
  margin-top: 10px; }
  .CreateEventModal .CreateEventModal-Footer .cancel {
    margin-right: 10px; }
  .CreateEventModal .CreateEventModal-Footer button span {
    text-transform: none !important; }

.CreateEventModal .loader {
  padding: 10px 0; }

.UploadPhotosEvent .row {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  padding: 5px;
  width: 100%; }
  .UploadPhotosEvent .row .photo_add {
    width: 150px;
    height: 150px;
    background: grey;
    position: relative;
    float: left;
    margin-right: 5px; }
    .UploadPhotosEvent .row .photo_add .overlay:hover {
      cursor: pointer;
      opacity: 1; }
    .UploadPhotosEvent .row .photo_add .overlay {
      text-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0.7;
      transition: .1s ease;
      background-color: #555459; }
    .UploadPhotosEvent .row .photo_add .text {
      background-color: #555459 !important;
      color: white;
      font-size: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); }
  .UploadPhotosEvent .row .preview {
    float: left;
    margin-right: 5px; }

.UploadPhotosEvent .loader {
  position: absolute;
  left: 49%;
  top: 6px; }

.ShowMyEvents .button-close {
  position: absolute !important;
  top: 0;
  right: 0; }

.ShowMyEvents .countdown-container {
  padding-bottom: 20px; }

.ShowMyEvents .Info {
  font-size: 20px;
  color: #ffffff;
  position: relative;
  width: 150px;
  height: 150px; }
  .ShowMyEvents .Info span {
    display: block;
    margin-top: 60px; }
