// UpdateProfileModal
.UpdateProfileModal {
  div:first-child {
    transition: none !important;
    div:first-child {
      background-color: #ffffff !important;
      text-align: center !important;
      h1{
        color: #000000 !important;
        font-weight: bold !important
      }
      svg {
        color: #000000 !important;
        fill: #000000 !important;
      }
    }
  }
  .form-container {
    width: 40%;
    height: 500px;
    position: relative;
    margin: 10px auto;
    .form-container-left, .form-container-right {
      width: 50%;
      float: left;
    }
    .form-container-right {
      .avatar {
        width: 200px;
        height: 200px;
        margin:  auto;
        position: relative;
      }
      .avatar img {
        display: block;
        cursor: pointer;
        margin: 0 auto;
      }
      .avatar:hover .overlay {
        opacity: 1;
        cursor: pointer;
      }
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .1s ease;
        background-color: #555459;
      }
      .text {
        background-color: #555459 !important;
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
    }
    .form-container-bottom {
      float: left;
      width: 100%;
      margin-top: 20px;
      text-align: center;
      .cancel, .save {
        margin: 12px !important;
        div span {
          text-transform: none !important;
          font-weight: bolder !important
        }
      }
      .save div {
        background-color: #2ab27b !important;
        span {
          color: #ffffff !important;
        }
      }
      .loader div div {
        transition: transform 10s linear 0ms !important;
      }
    }
  }
}

// CreateEventModal
.CreateEventModal {
  div {
    // transition: none !important;
  }
  .AppBar {
    transition: none !important;
    background-color: #ffffff !important;
    text-align: center !important;
    h1{
      color: #000000 !important;
      font-weight: bold !important
    }
    svg {
      color: #000000 !important;
      fill: #000000 !important;
    }
  }
  .CreateEventModal-Content {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    .step1 {
      width: 52%;
      float: left;
      .row {
        margin-left: 30px;
        width: 100%;
        overflow: hidden;
        .name-field {
          float: left;
          margin-bottom: 10px;
        }
        .location-field {
          float: left
        }
        div:first-child {
          margin-right: 20px
        }
        .date_start, .date_end {
          float: left;
          width: 40%
        }
        .hashtag {
          float: left;
        }
        .time_start, .time_end {
          margin-top: 24px;
          margin-left: 29px;
        }
        .hashtags {
          width: 40%;
          float: left !important;
        }
        .description {
          margin-left: 30px;
        }
      }
    }
    .step2 {
      width: 48%;
      height: 100px;
      float: left;
      .Event-Cover {
        position: relative;
        img {
          padding-left: 16px;
          display: block;
          cursor: pointer;
        }
      }
      .Event-Cover:hover .overlay {
        opacity: 1;
        cursor: pointer;
      }
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .1s ease;
        background-color: #555459;
        margin-left: 16px;
        width: 500px;
      }
      .text {
        text-align: center;
        background-color: #555459 !important;
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
    }
  }
  .CreateEventModal-Footer {
    text-align: center;
    margin-top: 10px;
    .cancel {
      margin-right: 10px
    }
    button span {
      text-transform: none !important;

    }
  }
  .loader {
    padding: 10px 0
  }
}

// UploadPhotosEvent
.UploadPhotosEvent {
  .row {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    padding: 5px;
    width: 100%;
    .photo_add {
      width: 150px;
      height: 150px;
      background: grey;
      position: relative;
      float: left;
      margin-right: 5px;
      .overlay:hover {
        cursor: pointer;
        opacity: 1;
      }
      .overlay {
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0.7;
        transition: .1s ease;
        background-color: #555459;
      }
      .text {
        background-color: #555459 !important;
        color: white;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
    }
    .preview {
      float: left;
      margin-right: 5px;
    }
  }
  .loader {
    position: absolute;
    left: 49%;
    top: 6px;
  }
}

// ShowMyEvents
.ShowMyEvents {
  .button-close {
    position: absolute !important;
    top: 0;
    right: 0;
  }
  .countdown-container {
    padding-bottom: 20px;
  }
  .Info {
    font-size: 20px;
    color: #ffffff;
    position: relative;
    width: 150px;
    height: 150px;
    span {
      display: block;
      margin-top: 60px;
    }
  }
}
