.authen {
  text-align: center;
  height: 100%;
  width: 100%;
  margin-top: 100px; }
  .authen .Paper {
    padding: 10px;
    margin: 50px auto;
    width: 400px !important; }
    .authen .Paper .authen-form {
      margin-bottom: 10px; }
    .authen .Paper .login-button {
      margin-top: -5px !important;
      margin-bottom: 10px; }
    .authen .Paper .register-button {
      margin-top: -10px !important;
      margin-bottom: 10px; }
    .authen .Paper .failed-message {
      font-size: 14px;
      padding-top: 15px;
      display: block;
      color: red; }
    .authen .Paper .register-suggest {
      font-size: 14px;
      font-style: italic;
      text-align: left;
      display: block;
      padding-top: 10px; }
