.authen {
  text-align: center;
  height: 100%;
  width: 100%;
  margin-top: 100px;
  .Paper {
    padding: 10px;
    margin: 50px auto;
    width: 400px !important;
    .authen-form {
      margin-bottom: 10px;
    }
    .login-button {
      margin-top: -5px !important;
      margin-bottom: 10px;
    }
    .register-button {
      margin-top: -10px !important;
      margin-bottom: 10px;
    }
    .failed-message {
      font-size: 14px;
      padding-top: 15px;
      display: block;
      color: red;
    }
    .register-suggest {
      font-size: 14px;
      font-style: italic;
      text-align: left;
      display: block;
      padding-top: 10px;
    }
  }
}
