$FONT_SIZE: 14px;


.material-icons {
    font-size: 20px
}
body {
    margin: 0 !important;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
