// NavLeft
.NavLeft {
  overflow: hidden;
  width: 256px;
  height: 1px;
  float: left;
}
// NavUser
.NavUser {
  .rightIcon {
    right: 85px !important
  }
  .MenuItem {
    text-align: center;
    transition: none !important
  }
  .MenuItem:hover {
    background-color: #E0E0E0 !important
  }
  .Icon-Add-Event {
    position: absolute !important;
    right: 5px;
    top: 5px;
    button {
      width: 35px !important;
      height: 35px !important;
      svg {
        height: 36px !important
      }
    }
  }
}

// NavUser-Popover
.NavUser-Popover {
  transition: none !important;
  transform: none !important;
  transform-origin: 50% 50% 0 !important;
  top: 50px !important;
  div, div div {
    transition: none !important;
    transform: none !important;
    transform-origin: 50% 50% 0 !important;
  }
  .NavUser-Popover-MenuItem {
    font-size: 13px !important;
    height: 35px !important;
    min-height: 35px !important;
    line-height: 35px !important;
    // transition: none !important
  }
}

// NavListEvents
.NavListEvents {
  overflow: hidden;
  .NavListEvents-Subheader {
    line-height: 35px !important;
    font-weight: bold !important;
    display: flex;
    .NavListEvents-Subheader-Icon {
      padding-top: 3px;
      height: 0px;
      .material-icons {
        font-size: 16px !important;
        padding-right: 5px
      }
    }
    .IconMenu {
      position: absolute !important;
      right: 8px;
      button {
        padding: 0 !important;
        width: 30px !important;
        height: 30px !important
      }
    }
  }
  div[role="menu"] {
    padding-top: 0px !important
  }
  .loader {
    text-align: center;
    height: 70px;
    padding-top: 30px;
  }
  div[role="presentation"] {
    width: 280px !important;
    div[role="menu"] {
      width: 280px !important;
    }
  }
}

// NavListEvents-IconMenu-MenuItem
.NavListEvents-IconMenu-MenuItem {
  height: 35px !important;
  line-height: 35px !important;
  min-height: 35px !important;
  font-size: 13px !important
}
div:has(> .NavListEvents-IconMenu-MenuItem) {
  display: none !important
}

// NavRightProfile
.NavRightProfile {
  div:nth-child(1) {
    overflow: hidden !important;
  }
  .AppBar {
    height: 40px !important;
    background: #ffffff !important;
    h1 {
      color: #000000 !important;
      text-align: center;
      font-size: 16px !important;
      font-weight: bold !important;
      line-height: 42px !important;
    }
    div:first-child {
      margin-top: 0px !important
    }
    button {
      width: 40px !important;
      height: 40px !important;
      padding: 0 !important
    }
    svg {
      color: #000000 !important;
      fill: #000000 !important;
    }
  }
  .Main {
    height: 100%;
    overflow-y: scroll !important;
    .Header {
      .Header-Avatar {
        text-align: center;
        padding: 10px;
      }
      .Header-Info {
        text-align: center;
        padding: 5px 0 16px 0;
        .name {
          font-size: 20px;
          position: relative;
          .material-icons {
            color: #93cc93;
            font-size: 14px;
            position: absolute;
            top: 4px;
            right: -12px;
          }
        }
        .Header-Info-Button {
          margin-right: 10px !important;
          div span {
            text-transform: none !important;
          }
        }
        .action {
          min-width: 40px !important;
        }
      }
    }
    .Divider {
      width: 95%;
      margin: 0 auto !important
    }
    .Info {
      padding: 8px;
      margin-bottom: 10px;
      .field {
        padding: 0 50px 5px 0;
        color: #A0A0A2;
      }
    }
  }
}

// NavRight
.NavRight {
  .toggle {
      position: absolute;
      top: 47%;
      font-size: 30px;
      color: #AB9BA9;
  }
  #toggle-right {
    background: #21252B;
    display: inline-block;
    height: 50px;
    width: 25px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    border: 1px solid #1D1515;
    border-right: 0;
    right: 0;
    overflow: hidden;
    -webkit-transition: 0.25s;
    .false {
      display: none !important;
    }
  }
  .chat {
    font-size: 16px !important;
    padding-top: 3px !important;
    padding-right: 5px !important;
  }
  .toggle-true {
    display: none
  }
  .toggle:hover {
      cursor: pointer;
      i {
          color: #ffffff
      }
  }
  .toggle-left {
      float: left;
  }
}

// ChatNav
.ChatNav {
  .AppBar {
    height: 40px !important;
    background: #ffffff !important;
    .Close-Button {
      width: 40px !important;
      height: 40px !important;
      padding: 8px !important
    }
    h1 {
      color: #000000 !important;
      text-align: center;
      font-size: 16px !important;
      font-weight: bold !important;
      line-height: 42px !important;
      height: 40px !important;
    }
    div {
      margin-top: 0 !important
    }
    svg {
      color: #000000 !important;
      fill: #000000 !important;
    }
  }
}
