.NavLeft {
  overflow: hidden;
  width: 256px;
  height: 1px;
  float: left; }

.NavUser .rightIcon {
  right: 85px !important; }

.NavUser .MenuItem {
  text-align: center;
  transition: none !important; }

.NavUser .MenuItem:hover {
  background-color: #E0E0E0 !important; }

.NavUser .Icon-Add-Event {
  position: absolute !important;
  right: 5px;
  top: 5px; }
  .NavUser .Icon-Add-Event button {
    width: 35px !important;
    height: 35px !important; }
    .NavUser .Icon-Add-Event button svg {
      height: 36px !important; }

.NavUser-Popover {
  transition: none !important;
  transform: none !important;
  transform-origin: 50% 50% 0 !important;
  top: 50px !important; }
  .NavUser-Popover div, .NavUser-Popover div div {
    transition: none !important;
    transform: none !important;
    transform-origin: 50% 50% 0 !important; }
  .NavUser-Popover .NavUser-Popover-MenuItem {
    font-size: 13px !important;
    height: 35px !important;
    min-height: 35px !important;
    line-height: 35px !important; }

.NavListEvents {
  overflow: hidden; }
  .NavListEvents .NavListEvents-Subheader {
    line-height: 35px !important;
    font-weight: bold !important;
    display: flex; }
    .NavListEvents .NavListEvents-Subheader .NavListEvents-Subheader-Icon {
      padding-top: 3px;
      height: 0px; }
      .NavListEvents .NavListEvents-Subheader .NavListEvents-Subheader-Icon .material-icons {
        font-size: 16px !important;
        padding-right: 5px; }
    .NavListEvents .NavListEvents-Subheader .IconMenu {
      position: absolute !important;
      right: 8px; }
      .NavListEvents .NavListEvents-Subheader .IconMenu button {
        padding: 0 !important;
        width: 30px !important;
        height: 30px !important; }
  .NavListEvents div[role="menu"] {
    padding-top: 0px !important; }
  .NavListEvents .loader {
    text-align: center;
    height: 70px;
    padding-top: 30px; }
  .NavListEvents div[role="presentation"] {
    width: 280px !important; }
    .NavListEvents div[role="presentation"] div[role="menu"] {
      width: 280px !important; }

.NavListEvents-IconMenu-MenuItem {
  height: 35px !important;
  line-height: 35px !important;
  min-height: 35px !important;
  font-size: 13px !important; }

div:has( > .NavListEvents-IconMenu-MenuItem) {
  display: none !important; }

.NavRightProfile div:nth-child(1) {
  overflow: hidden !important; }

.NavRightProfile .AppBar {
  height: 40px !important;
  background: #ffffff !important; }
  .NavRightProfile .AppBar h1 {
    color: #000000 !important;
    text-align: center;
    font-size: 16px !important;
    font-weight: bold !important;
    line-height: 42px !important; }
  .NavRightProfile .AppBar div:first-child {
    margin-top: 0px !important; }
  .NavRightProfile .AppBar button {
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important; }
  .NavRightProfile .AppBar svg {
    color: #000000 !important;
    fill: #000000 !important; }

.NavRightProfile .Main {
  height: 100%;
  overflow-y: scroll !important; }
  .NavRightProfile .Main .Header .Header-Avatar {
    text-align: center;
    padding: 10px; }
  .NavRightProfile .Main .Header .Header-Info {
    text-align: center;
    padding: 5px 0 16px 0; }
    .NavRightProfile .Main .Header .Header-Info .name {
      font-size: 20px;
      position: relative; }
      .NavRightProfile .Main .Header .Header-Info .name .material-icons {
        color: #93cc93;
        font-size: 14px;
        position: absolute;
        top: 4px;
        right: -12px; }
    .NavRightProfile .Main .Header .Header-Info .Header-Info-Button {
      margin-right: 10px !important; }
      .NavRightProfile .Main .Header .Header-Info .Header-Info-Button div span {
        text-transform: none !important; }
    .NavRightProfile .Main .Header .Header-Info .action {
      min-width: 40px !important; }
  .NavRightProfile .Main .Divider {
    width: 95%;
    margin: 0 auto !important; }
  .NavRightProfile .Main .Info {
    padding: 8px;
    margin-bottom: 10px; }
    .NavRightProfile .Main .Info .field {
      padding: 0 50px 5px 0;
      color: #A0A0A2; }

.NavRight .toggle {
  position: absolute;
  top: 47%;
  font-size: 30px;
  color: #AB9BA9; }

.NavRight #toggle-right {
  background: #21252B;
  display: inline-block;
  height: 50px;
  width: 25px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  border: 1px solid #1D1515;
  border-right: 0;
  right: 0;
  overflow: hidden;
  -webkit-transition: 0.25s; }
  .NavRight #toggle-right .false {
    display: none !important; }

.NavRight .chat {
  font-size: 16px !important;
  padding-top: 3px !important;
  padding-right: 5px !important; }

.NavRight .toggle-true {
  display: none; }

.NavRight .toggle:hover {
  cursor: pointer; }
  .NavRight .toggle:hover i {
    color: #ffffff; }

.NavRight .toggle-left {
  float: left; }

.ChatNav .AppBar {
  height: 40px !important;
  background: #ffffff !important; }
  .ChatNav .AppBar .Close-Button {
    width: 40px !important;
    height: 40px !important;
    padding: 8px !important; }
  .ChatNav .AppBar h1 {
    color: #000000 !important;
    text-align: center;
    font-size: 16px !important;
    font-weight: bold !important;
    line-height: 42px !important;
    height: 40px !important; }
  .ChatNav .AppBar div {
    margin-top: 0 !important; }
  .ChatNav .AppBar svg {
    color: #000000 !important;
    fill: #000000 !important; }
